<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Niche</title>
    <!--<link rel="stylesheet" href="/css/style.css">-->
</head>


<body>
    <main>
        <div class="content">
            {{{body}}}
        </div>
    </main>
</body>
</html>