<div class="home">
  <h1>Niche</h1>

  {{#if notConnected}}
    <p class="notice">Please <a href="/login">connect to Spotify</a> to get started.</p>
  {{else}}
    <div class="landing-links">
      <a href="/niche" class="createPlaylist">Create New Playlist</a>
    </div>
  {{/if}}
</div>


  <!--<script src="/js/client.js"></script>-->
</div>